/*=================Font Pacifico===================*/
@font-face { font-family: 'Pacifico'; font-style: normal; font-weight: 400; font-display: swap; src: local('Pacifico Regular'), local('Pacifico-Regular'), url(Pacifico/FwZY7-Qmy14u9lezJ-6K6MmTpA.woff2) format('woff2'); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face { font-family: 'Pacifico'; font-style: normal; font-weight: 400; font-display: swap; src: local('Pacifico Regular'), local('Pacifico-Regular'), url(Pacifico/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format('woff2'); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face { font-family: 'Pacifico'; font-style: normal; font-weight: 400; font-display: swap; src: local('Pacifico Regular'), local('Pacifico-Regular'), url(Pacifico/FwZY7-Qmy14u9lezJ-6I6MmTpA.woff2) format('woff2'); unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face { font-family: 'Pacifico'; font-style: normal; font-weight: 400; font-display: swap; src: local('Pacifico Regular'), local('Pacifico-Regular'), url(Pacifico/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format('woff2'); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face { font-family: 'Pacifico'; font-style: normal; font-weight: 400; font-display: swap; src: local('Pacifico Regular'), local('Pacifico-Regular'), url(Pacifico/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/*=================Font Tajawal===================*/
@font-face {font-family: 'Tajawal';font-style: normal;font-weight: 300;font-display: swap;src: local('Tajawal Medium'), local('Tajawal-Medium'), url(Tajawal/Iurf6YBj_oCad4k1l8KiHrRpiYlJ.woff2) format('woff2');unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;}
/* latin 400 */
@font-face {font-family: 'Tajawal';font-style: normal;font-weight: 300;font-display: swap;src: local('Tajawal Medium'), local('Tajawal-Medium'), url(Tajawal/Iurf6YBj_oCad4k1l8KiHrFpiQ.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
/* arabic */
@font-face {font-family: 'Tajawal';font-style: normal;font-weight: 500;font-display: swap;src: local('Tajawal Medium'), local('Tajawal-Medium'), url(Tajawal/Iurf6YBj_oCad4k1l8KiHrRpiYlJ.woff2) format('woff2');unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;}
/* latin */
@font-face {font-family: 'Tajawal';font-style: normal;font-weight: 500;font-display: swap;src: local('Tajawal Medium'), local('Tajawal-Medium'), url(Tajawal/Iurf6YBj_oCad4k1l8KiHrFpiQ.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

/*=================Font Janna_L===================*/
@font-face {
    font-family: 'JannaL';
    src: url('JannaL/JannaL.eot'); /* IE9 Compat Modes */
    src: url('JannaL/JannaL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('JannaL/JannaL.woff2') format('woff2'), /* Modern Browsers */
        url('JannaL/JannaL.woff') format('woff'), /* Modern Browsers */
        url('JannaL/JannaL.ttf') format('truetype'), /* Safari, Android, iOS */
        url('JannaL/JannaL.svg') format('svg'); /* Legacy iOS */
    font-weight: 500;
    font-display: swap;
}
/*=================Font AraAlmBon===================*/
@font-face {
    font-family: 'AraAlmBon';
    src: url('AraAlmBon/AraAlmBon.eot'); /* IE9 Compat Modes */
    src: url('AraAlmBon/AraAlmBon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('AraAlmBon/AraAlmBon.woff2') format('woff2'), /* Modern Browsers */
        url('AraAlmBon/AraAlmBon.woff') format('woff'), /* Modern Browsers */
        url('AraAlmBon/AraAlmBon.ttf') format('truetype'), /* Safari, Android, iOS */
        url('AraAlmBon/AraAlmBon.svg') format('svg'); /* Legacy iOS */
        font-weight: 500;
        font-display: swap;
}
/*=================Font AraHalaBoShe===================*/
@font-face {
    font-family: 'AraHalaBoShe';
    src: url('AraHalaBoShe/AraHalaBoShe.eot'); /* IE9 Compat Modes */
    src: url('AraHalaBoShe/AraHalaBoShe.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('AraHalaBoShe/AraHalaBoShe.woff2') format('woff2'), /* Modern Browsers */
        url('AraHalaBoShe/AraHalaBoShe.woff') format('woff'), /* Modern Browsers */
        url('AraHalaBoShe/AraHalaBoShe.ttf') format('truetype'), /* Safari, Android, iOS */
        url('AraHalaBoShe/AraHalaBoShe.svg') format('svg'); /* Legacy iOS */
        font-weight: 500;
        font-display: swap;
}
/*=================Font DimaL===================*/
@font-face {
    font-family: 'DimaL';
    src: url('DimaL/DimaL.eot'); /* IE9 Compat Modes */
    src: url('DimaL/DimaL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('DimaL/DimaL.woff2') format('woff2'), /* Modern Browsers */
        url('DimaL/DimaL.woff') format('woff'), /* Modern Browsers */
        url('DimaL/DimaL.ttf') format('truetype'), /* Safari, Android, iOS */
        url('DimaL/DimaL.svg') format('svg'); /* Legacy iOS */
        font-weight: 500;
        font-display: swap;
}
/*=================Font DimaSogandL===================*/
@font-face {
    font-family: 'DimaSogandL';
    src: url('DimaSogandL/DimaSogandL.eot'); /* IE9 Compat Modes */
    src: url('DimaSogandL/DimaSogandL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('DimaSogandL/DimaSogandL.woff2') format('woff2'), /* Modern Browsers */
        url('DimaSogandL/DimaSogandL.woff') format('woff'), /* Modern Browsers */
        url('DimaSogandL/DimaSogandL.ttf') format('truetype'), /* Safari, Android, iOS */
        url('DimaSogandL/DimaSogandL.svg') format('svg'); /* Legacy iOS */
        font-weight: 500;
        font-display: swap;
}